body {
    font-size: 15px;
    background: #f4f4f4;
}

@font-face {
    font-family: "iconfont"; /* Project id 2617230 */
    src: url('./font/iconfont.eot?t=1623922598626'); /* IE9 */
    src: url('./font/iconfont.eot?t=1623922598626#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./font/iconfont.woff2?t=1623922598626') format('woff2'),
         url('./font/iconfont.woff?t=1623922598626') format('woff'),
         url('./font/iconfont.ttf?t=1623922598626') format('truetype'),
         url('./font/iconfont.svg?t=1623922598626#iconfont') format('svg');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .clearfix:after {
    content:"";
    clear:both;
    display: block;
    height: 0px;
  }